<%- include('header'); %>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="home" viewBox="0 0 16 16">
        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"></path>
    </symbol>
    <symbol id="people-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
    </symbol>
    <symbol id="grid" viewBox="0 0 16 16">
        <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"></path>
    </symbol>
</svg>
<div id="sidebar-left-container">
    <div id="sidebar-left" class="d-flex flex-column flex-shrink-0 p-3 bg-text-dark">
        <a href="/" class="d-flex mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <!--<svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>-->
            <span class="fs-4">Twitter Clone</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Címlap
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                    Bejelentkezés
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    Regisztráció
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <!-- TODOKN: Belépett user e-mail -->
            <strong>Belépett user e-mail</strong>
        </div>
    </div>
</div>
<div id="content">
    <% tweets.forEach((item) => { %>
    <div class="card text-center">
        <div class="card-header">
            knorbi8@gmail.com
        </div>
        <div class="card-body">
            <p class="card-text"><%= item.content %></p>
            <!--<a href="#" class="btn btn-light">Tweet megtekintése</a>-->
        </div>
            <div class="card-footer text-muted">
            3 days ago
        </div>
    </div>
    <% }) %>
</div>
<div id="sidebar-right-container">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0" style="width: 100%">
        <a id="sidebar-right-header" href="/" class="d-flex flex-shrink-0 p-3 text-white text-decoration-none">
            <span class="fs-5 fw-semibold">Felhasználók</span>
        </a>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                knorbi8@gmail.com
                <span class="badge bg-primary rounded-pill">13</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                kulcsar.norbert@ujvilag.gov.hu
                <span class="badge bg-primary rounded-pill">12</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                kulcsarn@elte.hu
                <span class="badge bg-primary rounded-pill">8</span>
            </li>
        </ul>

        <!--<div class="list-group list-group-flush border-bottom scrollarea">
            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">knorbi8@gmail.com (13 tweet)</strong>
            </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">kulcsar.norbert@ujvilag.gov.hu (12 tweet)</strong>
            </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">kulcsarn@elte.hu (8 tweet)</strong>
            </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">asd@asd.hu (5 tweet)</strong>
            </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">dsa@dsa.hu (4 tweet)</strong>
            </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">item@item.hu (3 tweet)</strong>
            </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">asd@asd.hu (2 tweet)</strong>
            </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">asd@asd.hu (2 tweet)</strong>
            </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">asd@asd.hu (1 tweet)</strong>
            </div>
            </a>
        </div>-->
    </div>
</div>
<%- include('footer'); %>