<html>
    <head></head>
    <body>
        <form method="POST" action="/insertBook">
            <label for="title">Könyv címe</label><br>
            <input id="title" name="title" type="text">
            <br><br>
            <label for="price">Könyv ára</label><br>
            <input id="price" name="price" type="number">
            <br><br>
            <input type="submit" value="Mentés">
        </form>
    </body>
</html>